<html>
<head>
<title>Javier de Martín</title>
<link href="/resources/styles.css" rel="stylesheet" type="text/css">
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Javier de Martín">
  <meta charset="utf-8">
  <meta name="keywords" content="Javier de Martín,ios,programming" />
  <meta name="twitter:site" content="@javierdemartin">
  <meta name="twitter:domain" content="javierdemart.in">
  <meta name="twitter:creator" content="@javierdemartin">
  <meta name="twitter:card" content="summary">
  <meta name="robots" content="index,follow,max-video-preview:-1,max-snippet:-1,max-image-preview:large, max-video-preview:-1, max-video-preview:-1">
  <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
  <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
  	<meta name="apple-itunes-app" content="app-id=1545746941">
</head>
 <main>
 
 <%- include partials/header.ejs %>
 
    <%- content %>

</main>
</html>
