<html>
<head>
	  <title><%= data.title.replace(/_/g, " ") %></title>
	  <link href="/resources/styles.css" rel="stylesheet" type="text/css">
	  <meta name=viewport content="width=device-width">
	  <meta name="author" content="Javier de Martín">
	  <meta charset="utf-8">
	  <meta name="keywords" content="Javier de Martín,ios,programming" />
	  <meta name="twitter:site" content="@javierdemartin">
	  <meta name="twitter:domain" content="javierdemart.in">
	  <meta name="twitter:creator" content="@javierdemartin">
	  <meta name="twitter:card" content="summary">
	  <meta name="robots" content="index,follow,max-video-preview:-1,max-snippet:-1,max-image-preview:large, max-video-preview:-1, max-video-preview:-1">
	  <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
	  <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
	</head>
	<main>
		<%- content %>
</main>
</html>
