<html>
<head>

	  <title>Singlet</title>
	  	<link rel="stylesheet" href="../resources/styles.css">

		<meta name="description" content="Singlet iOS app">

	    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-itunes-app" content="app-id=1545746941">
</head>
<main>    
			
 <%- include partials/header.ejs %>
 
    <%- content %>
</main>
</html>